body {  
  background-image: url("fondo.gif");
  
  background-repeat: no-repeat;
  background-size: cover;
    
}


 
#guess_form {

  text-align: center;
  margin-left: 20   px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: black;  
  
}


#instructions{
    color : white;
    width: 300px;
    position: absolute;
    top: 5%;
    left: 42%;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    
}



